# --- Python & Venv 
venv/
__pycache__/
*.pyc

# --- ROS 2 Build Artifacts 
ros_ws/build/
ros_ws/install/
ros_ws/log/

# --- IDE Settings ---
.vscode/

# --- Large Data Files 
*.pcd
*.bag
*.mcap
*.db3
maps/
